<!DOCTYPE html>
<html lang="en">

<head th:insert="fragmants.html :: head">
</head>
<body>
<!-- container section start -->
<section id="container" class="">
  <!--header start-->

  <header th:insert="fragmants.html :: header"></header>
  <!--header end-->

  <!--sidebar start-->
  <div th:insert="fragmants.html :: nav"></div>
  <!--sidebar end-->

  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="fa fa-bars"></i>Pages</li>
            <li><i class="fa fa-square-o"></i>Pages</li>
          </ol>
        </div>
      </div>
      <!-- page start-->
      <h1>List of Countries</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">New Country</button>
      <table class="table">
        <thead>
          <th>id</th>
          <th>Description</th>
          <th>Capital</th>
          <th>Code</th>
          <th>Action</th>
        </thead>
        <tbody th:each="country:${countries}">
          <td th:text="${country.id}"></td>
          <td th:text="${country.description}"></td>
          <td th:text="${country.capital}"></td>
          <td th:text="${country.code}"></td>
          <td>
            <div class="btn-group"><a th:href="@{countries/findById/(id=${country.id})}" class="btn btn-primary" id="editButton">Edit</a>
<!--
          <td><a th:href="@{/contacts/{contactId}/edit(contactId=${contact.id})}">Edit</a></td>
-->
            </div>
          </td>
        </tbody>
      </table>
      <!-- page end-->
    </section>
  </section>
  <!--main content end-->
  <div class="text-right">
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
      -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</section>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/countries/addNew}" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="recipient-name" name="description">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Capital:</label>
            <input type="text" class="form-control" id="recipient-name" name="capital">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Code:</label>
            <input type="text" class="form-control" id="recipient-name" name="code">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Continent:</label>
            <input type="text" class="form-control" id="recipient-name" name="continent">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nationality:</label>
            <input type="text" class="form-control" id="recipient-name" name="nationality">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Country</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/countries/update}" method="put">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="idEdit" name="id" readonly>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Capital:</label>
            <input type="text" class="form-control" id="capitalEdit" name="capital">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Code:</label>
            <input type="text" class="form-control" id="codeEdit" name="code">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Continent:</label>
            <input type="text" class="form-control" id="continentEdit" name="continent">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nationality:</label>
            <input type="text" class="form-control" id="nationalityEdit" name="nationality">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- container section end -->
<!-- javascripts -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.nicescroll.js" type="text/javascript"></script>
<!--custome script for all page-->
<script src="js/scripts.js"></script>
<script src="js/country.js"></script>



</body>

</html>
